:canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h2 {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: black;
}
h3 {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  /* font-family: Georgia, "Times New Roman", Times, serif; */
  color: rgb(2, 19, 20);
}
h1 {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
}
blockquote {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

header {
  /* background: var(--dark-bg); */
  grid-column: 2 / span 5;
  font-size: 1.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  /* background: var(--dark-bg); */
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
}

blockquote p {
  color: black;
  /* background-color: white; */
  font-size: 3rem;
  font-weight: 800;
  display: inline;
  line-height: 1;
}

.left {
  grid-column: 6 / 12;
}
a:link {
  color: rgb(231, 61, 19);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(30, 4, 88);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
p {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
h6 {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
}
